html,
body {
  padding: 0;
  margin: 0;
  min-width: 550px;
  background-color: #af97fb;

  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

::-webkit-scrollbar {
  width: 6px; /*Y轴滚动条粗细*/
  height: 3px; /*x轴滚动条粗细*/
  border-bottom: 1px solid #7b7b7b;
}

/* //滚动条里面的小方块，能上下左右移动（取决于是垂直滚动条还是水平滚动条） */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background: #949494;
  margin-bottom: 10px;
}
/* //滚动条的轨道（里面装有thumb）滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: 0;
  border-radius: 0;
  background: 131, 87, 235; /*滚动槽背景色*/
  border-radius: 10px; /*滚动条边框半径设置*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
